<launch>
    <!-- 设置车辆信息位置从何处读取 -->
    <arg name="playground" default = "carla_map4" />
    <arg name="lane_net_path" default="/home/xzh/ros1/BPws/src/EPSILON/core/hdmap/maps/Town04.txt" />

    <!-- 只利用playground中的agent_config_path -->
    <include file="$(find planning_integrated)/launch/eudm_carla_map.launch">
        <arg name="playground" value="$(arg playground)" />
    </include>
    
    <!-- 只利用playground中的agent_config_path -->
    <include file="$(find ai_agent_planner)/launch/onlane_ai_agent_xodr.launch">
        <arg name="playground" value="$(arg playground)" />
    </include>

    <!-- playground中的map_path和vehicle_info_path -->
    <!-- 实际上还会利用lane_net_path，但是我修改了lane_net_path的路径 -->
    <include file="$(find phy_simulator)/launch/phy_simulator_planning_xodrMap.launch">
        <arg name="playground" value="$(arg playground)" />
        <arg name="lane_net_path" value="$(arg lane_net_path)" />
    </include>
    
    <node pkg="rviz" type="rviz" name="rviz"
    args="-d $(find phy_simulator)/rviz/phy_simulator_planning_start.rviz"/>
    
    <node pkg="rosbag" type="record" name="rosbag_record" 
          args="-O /home/xzh/ros1/BPws/my_bag.bag 
                   /record/agent_0/ego_vehicle_status 
                   /record/agent_0/ego_behavior_vis 
                   /record/agent_0/forward_trajs 
                   /vis/agent_0/local_lanes_vis
                   /record/agent_1/ego_vehicle_status" 
          output="screen"/> 
</launch>