<launch>
    <include file="$(find planning_integrated)/launch/start_bp_ssc.launch" />
    <include file="$(find ai_agent_planner)/launch/onlane_ai_agent_start.launch" />
    <include file="$(find phy_simulator)/launch/phy_simulator_planning.launch" />
    
    <node pkg="rviz" type="rviz" name="rviz"
    args="-d $(find phy_simulator)/rviz/phy_simulator_planning_start.rviz"/>
</launch>